//breakpoints
$tiny: 20rem; //
$mobile: 27rem; //432px;
$tablet: 778px;
$desktop: 56.25rem; //900px;

//margins
//smallest margin so the content still fits the window
$margin-small: 0.25rem; //4px;
$margin-mobile: 1rem; //16px;
$margin-large: 2.5rem; //40px;
$margin-desktop: 0;
