
-# Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze
-# gericht is op transparantie en niet op hergebruik. Hergebruik van 
-# de broncode is toegestaan onder de EUPL licentie, met uitzondering 
-# van broncode waarvoor een andere licentie is aangegeven.
-# 
-# Het archief waar dit bestand deel van uitmaakt is te vinden op:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# onder vermelding van "Logius, openbaar gemaakte broncode DigiD" 
-# 
-# Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl
-# 
-# This code has been disclosed in response to a request under the Dutch
-# Open Government Act ("Wet open Overheid"). This implies that publication 
-# is primarily driven by the need for transparence, not re-use.
-# Re-use is permitted under the EUPL-license, with the exception 
-# of source files that contain a different license.
-# 
-# The archive that this file originates from can be found at:
-#   https://github.com/MinBZK/woo-besluit-broncode-digid
-# 
-# Security vulnerabilities may be responsibly disclosed via the Dutch NCSC:
-#   https://www.ncsc.nl/contact/kwetsbaarheid-melden
-# using the reference "Logius, publicly disclosed source code DigiD" 
-# 
-# Other questions regarding this Open Goverment Act decision may be
-# directed via email to open@logius.nl

- data = ManagerWarning.find_by(name: "Verlopen certificaten melding")&.data
- cert_types = {eid_cert: ["eID certificaten", eid_certificates_path],
                rda_cert: ["RDA certificaten", rda_certificates_path],
                admin: ["webdienstcertificaten", certificates_path],
                dc: ["certificaten van de dienstencatalogus", dc_certificates_path],
                eid_crl: ["eID CRL's", eid_crl_index_path],
                rda_crl: ["RDA CRL's", rda_crl_index_path]}
- cert_types.each do |cert_type|
  - if data&.key?(cert_type[0]) && data[cert_type[0]] > 0
    %p{class: 'cert_alert'}=link_to raw(I18n.t('certificates.cert_about_to_expire', cert_type: cert_type[1][0])), cert_type[1][1]
