@mixin font-face($font-name, $font-path, $font-weight: 400, $font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style : $font-style;
    font-weight: $font-weight;
    src: url('#{$font-path}.woff2') format('woff2'),
    url('#{$font-path}.woff') format('woff');
  }
}
